@model TouristViewModel

@{
  ViewBag.Title = "Cancel";
}

<h3>Are you sure you want to cancel this tour?</h3>
<fieldset>
  <legend>TouristViewModel</legend>

  <div class="display-label">
    @Html.DisplayFor(model => model.FullName)
  </div>

  <div class="display-field">
    @Html.DisplayFor(model => model.Email)
  </div>

  <div class="display-field">
    @Html.DisplayFor(model => model.Phone)
  </div>

  <div class="display-field">
    @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State)
  </div>

  <div class="display-field">
    <span class="display-label">Visit Date:</span> @Html.DisplayFor(model => model.Tour.StartTime)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <p>
    <input type="submit" value="Cancel This Visit" />
    @Html.ActionLink("Return to Tour Details", "Details", new { id = Model.Id })
  </p>
}
