@model IEnumerable<AmbassadorViewModel>

@{
  ViewBag.Title = "DomainMembers";
}

<div>
  @ViewBag.Message
</div>

<h3>The list below are members of the ambassadors domain group who are not ambassadors for this website.</h3>

<table id="AmbassadorsTable" class="sortable-table full-width highlight-rows">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.LastName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FirstName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.UserName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th></th>
    </tr>
  </thead>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.LastName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.UserName)
      </td>
      <td>
        <a href="mailto:@item.Email">@item.Email</a>
      </td>
      <td>
        @using (Html.BeginForm("Add", "Ambassador", new { userPrincipalName = item.Email }))
        {
          <input type="submit" value="Add to Visitor Website" />
        }
      </td>
    </tr>
  }
</table>

@section scripts
{
  <script>
    $(function () {
      $("#AmbassadorsTable").tablesorter({
        sortList: [[0, 0]],
        headers: { 4: { sorter: false } }
      });
    });
  </script>
}
